@import 'tailwindcss';
@import '@heroui/styles';

@theme {
  --color-tiff-50: oklch(0.971 0.027 188.25);
  --color-tiff-100: oklch(0.942 0.058 188.2);
  --color-tiff-200: oklch(0.876 0.091 188.65);
  --color-tiff-300: oklch(0.825 0.085 188.1);
  --color-tiff-400: oklch(0.723 0.075 187.88);
  --color-tiff-500: oklch(0.629 0.065 187.71);
  --color-tiff-600: oklch(0.529 0.055 187.45);
  --color-tiff-700: oklch(0.434 0.045 187.25);
  --color-tiff-800: oklch(0.333 0.035 186.88);
  --color-tiff-900: oklch(0.239 0.025 186.96);
  --color-tiff-950: oklch(0.187 0.02 184.04);
  --color-tiff-sat-50: oklch(0.948 0.076 186.82);
  --color-tiff-sat-100: oklch(0.904 0.15 186.99);
  --color-tiff-sat-200: oklch(0.827 0.144 186.94);
  --color-tiff-sat-300: oklch(0.752 0.132 186.6);
  --color-tiff-sat-400: oklch(0.673 0.118 186.82);
  --color-tiff-sat-500: oklch(0.582 0.102 186.96);
  --color-tiff-sat-600: oklch(0.491 0.086 186.2);
  --color-tiff-sat-700: oklch(0.405 0.071 186.58);
  --color-tiff-sat-800: oklch(0.313 0.055 185.43);
  --color-tiff-sat-900: oklch(0.227 0.04 186.34);
  --color-tiff-sat-950: oklch(0.172 0.03 186.82);
  --color-tiff-gray-50: oklch(0.955 0.012 183.91);
  --color-tiff-gray-100: oklch(0.911 0.024 183.62);
  --color-tiff-gray-200: oklch(0.824 0.021 185.3);
  --color-tiff-gray-300: oklch(0.74 0.019 183.99);
  --color-tiff-gray-400: oklch(0.654 0.018 182.35);
  --color-tiff-gray-500: oklch(0.568 0.016 180.24);
  --color-tiff-gray-600: oklch(0.48 0.013 189.4);
  --color-tiff-gray-700: oklch(0.395 0.009 186.41);
  --color-tiff-gray-800: oklch(0.311 0.008 184.65);
  --color-tiff-gray-900: oklch(0.222 0.006 196.66);
  --color-tiff-gray-950: oklch(0.175 0.003 196.76);
  --color-tiff-pink-50: oklch(0.959 0.021 347.38);
  --color-tiff-pink-100: oklch(0.92 0.041 348.8);
  --color-tiff-pink-200: oklch(0.84 0.09 347.78);
  --color-tiff-pink-300: oklch(0.761 0.145 347.64);
  --color-tiff-pink-400: oklch(0.684 0.211 347.5);
  --color-tiff-pink-500: oklch(0.598 0.215 347.42);
  --color-tiff-pink-600: oklch(0.507 0.182 347.52);
  --color-tiff-pink-700: oklch(0.417 0.149 347.4);
  --color-tiff-pink-800: oklch(0.326 0.116 347.5);
  --color-tiff-pink-900: oklch(0.235 0.084 347.91);
  --color-tiff-pink-950: oklch(0.185 0.067 347.5);
}
