@import 'tailwindcss';
@import '@heroui/styles';
@import './css/theme.css';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import './css/custom-swiper.css';
@import './css/glass.css';
@import './css/shadow-dom.css';
